.heroSection {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: black;
  color: white;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.heroContent {
  --fs-title: 144px;
  padding: 10vh 45px 45px 45px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .mainTitle {
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-title);
    font-weight: 700;
    line-height: 0.875;
    letter-spacing: -2px;
    margin-bottom: 45px;
  }

  .wordContainer {
    display: inline-block;
    white-space: nowrap;
  }

  .letterMask {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    margin-right: 3px;
  }
  
  .letter {
    display: inline-block;
  }
  
  .spaceMask {
    width: 0.3em;
    display: inline-block;
  }

  .heroContentSub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .subtitle {
    font-family: 'Roxie Rossa', serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2;
    max-width: 790px;
  }

  .description {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #a0a0a0;
    text-align: left;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .heroSection {
    height: auto;
    padding: 20px;
  }
  
  .heroContent {
    padding: 10vh 25px 25px 25px;
  
    .heroContentSub {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .mainTitle {
      font-size: 15vw;
      margin-bottom: 20px;
    }
  
    .subtitle {
      font-size: 32px;
      margin-bottom: 20px;
    }
  
    .description {
      text-align: left;
    }
  }
}