:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --default-space: 45px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth
}
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img,video {
  -webkit-user-select: none;
  user-select: none;
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block
}

ul,ol {
  list-style: none
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0 var(--default-space);
    margin: 0 auto
}

@media (max-width: 655px) {
    .container {
        padding:0 25px
    }
}

@media (min-width: 75em) {
    .container {
        max-width:1820px
    }
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}


@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%) skew(-12deg) rotate(2deg);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}